body {
    font-family: 'Montserrat ', sans-serif;
    ;
}

h3 {
    font-family: 'Montserrat-bold ';
    font-size: 1.5rem;
    font-weight: bolder;
}

p {
    color: #8f8f8f
}

#title {
    background-color: #ff4c68;
    color: #fff;
    font-size: 1rem;
}

.title-h1 {
    font-family: 'Montserrat-bold ', sans-serif;
    font-size: 3.7rem;
    font-weight: 900;

}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar {

    margin-bottom: 6rem;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    ;
}

.container {
    padding: 3% 15% 13%;
    ;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    ;
    font-size: 2.5rem;
    font-weight: bold;
}


/* download buttons*/
.download-button {
    margin: 5% 3% 5% 0;
}

/*tittle image*/
.tittle-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.position {
    position: relative;
}

/*features section*/
#features {
    padding: 7% 5%;
    background-color: #fff;
    position: relative;


}

.feature-box {
    text-align: center;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*testimonials section*/
.carousel-item {
    padding: 7% 15%;
}

.testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-title {
    font-family: 'Montserrat ', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 29px;

}

.press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 5%;
}

/*Pricing*/
.pricing {
    padding: 100px;
    text-align: center;

}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    .tittle-image {
        position: static;
        transform: rotate(0);
    }


}

.cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
    font-family: "Monserrat-black";
    line-height: 1.5;
    font-size: 3.5rem;
}

.footer {

    text-align: center;
    padding: 5%
}

.social-icon {
    margin: 20px 10px;
}